{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="section config-section">
        <div class="section-title-div">
            <p class="section-title blue">Configuración</p>
            <div class="help-icon">
                <a class="info-icon" onclick="event.preventDefault();return informationBox(this,'{{infoMessage.configuration_about}}');" href="">&#x1F6C8;</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="section config-menu">
            {% include "config-menu.html" with active_tab='about' %}
            </div>
            <div class="section config-content ">
                <div class="config-inside">
                    <div class="form-container">
                        <div>
                        <b>
                        ShoPYMES<br></b>
                        versión 1.0.0
                        
                        </div><br>

                        ShoPYMES es una aplicación que utiliza la potente API de Shodan para particulares y pequeñas y medianas empresas (PYMES) de todo el mundo. Nuestro objetivo es proporcionarte una plataforma intuitiva y fácil de usar que te permita descubrir detalles clave sobre el estado de los servicios accesibles a internet.

                        ¿Alguna vez te has preguntado como de visible es tu empresa en tu área local? ¿O qué tipo de tecnologías utilizan para respaldar sus operaciones? ShoPYMES te ofrece respuestas a estas preguntas y mucho más. Gracias a la integración de la API de Shodan, podemos acceder a una gran cantidad de datos sobre dispositivos conectados a Internet, desde servidores web hasta cámaras de seguridad y sistemas de control industrial.
                        <br><br>
                        Recuerde que es su responsabilidad revisar este acuerdo periódicamente para estar informado de cualquier modificación. El uso continuado de la herramienta después de la publicación de cualquier modificación en los términos y condiciones de este acuerdo constituirá su aceptación de dichas modificaciones.
                        
                        Este acuerdo de licencia es el acuerdo completo y exclusivo entre ShoPYMES y usted en relación con la herramienta y sustituye todos los acuerdos anteriores o contemporáneos, ya sean escritos o verbales. Si alguna parte de este acuerdo es considerada inválida o no exigible por un tribunal, el resto del acuerdo seguirá siendo válido y exigible.
                        <br><br>
                        Este acuerdo se regirá e interpretará de acuerdo con las leyes del Estado español. Cualquier disputa que surja del uso de la herramienta o de este acuerdo de licencia será resuelta exclusivamente por los tribunales del Estado español. Al utilizar la herramienta de etiquetado automático acepta someterse a la jurisdicción de dichos tribunales.
                        <br><br>
                        Es importante mencionar que la distribución, modificación del código y la ingeniería inversa están permitidas pero cualquier violación de seguridad puede resultar en acciones legales.
                        <br><br>
                        ShoPYMES es una herramienta para empresarios, investigadores, profesionales de la ciberseguridad y cualquier persona interesada en explorar y comprender el panorama tecnológico de las PYMES. No importa si estás buscando oportunidades de negocio, investigando a tu competencia o simplemente curioseando, ShoPYMES te proporcionará información valiosa que te ayudará a tomar decisiones más inteligentes, gracias por usar nuestra herramienta.
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}